<% if(notifications.length>0){ %>
	<ul class="notifications">
	<% for(var i = 0; i<notifications.length; i++) { %>
		<li class="<%= notifications[i].type %>"><%= notifications[i].message %></li>
	<% } %>
	</ul>
<% } %>
