<h2>About Us</h2>
<p>
	Our aim is to help people find their dream home, by providing visualizations to give them insight into areas which they are interested in.
</p>
<h3>The team</h3>
<div class="columns">
	<div class="full sm-half align-center padded">
		<img src="<%= global.base %>/img/profile/alex.jpg" class="profile" alt="" />
		<h4>Alex</h4>
		<ul class="align-left">
			<li>Team Leader</li>
			<li>Researcher​</li>
		</ul>
	</div>
	<div class="full sm-half align-center padded">
		<img src="<%= global.base %>/img/profile/tom.jpg" class="profile" alt="" />
		<h4>Tom</h4>
		<ul class="align-left">
			<li>Developer</li>
			<li>UX Designer</li>
		</ul>
		<a href="http://repraze.com"><i class="fa fa-fw fa-globe"></i> Website</a>
	</div>
</div>
<div class="columns">
	<div class="full sm-half align-center padded">
		<img src="<%= global.base %>/img/profile/corin.jpg" class="profile" alt="" />
		<h4>Corin</h4>
		<ul class="align-left">
			<li>Developer​</li>
			<li>Map Specialist</li>
		</ul>
	</div>
	<div class="full sm-half align-center padded">
		<img src="<%= global.base %>/img/profile/lyubomir.jpg" class="profile" alt="" />
		<h4>Lyubomir</h4>
		<ul class="align-left">
			<li>Researcher</li>
			<li>Developer​​</li>
		</ul>
	</div>
</div>
