<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
	<title>Chat</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.css" media="screen" charset="utf-8">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
	<link rel="stylesheet" href="<%= global.base%>/sidebar/leaflet-sidebar.min.css">

	<link rel="stylesheet" href="<%= global.base %>/css/style.css" media="screen" charset="utf-8">
	<link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700|Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>

	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAex4St4qNjt9vUlMXGpouV6ttBCIMJfYE&libraries=places"></script>
</head>
